html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.nav-top {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    background-color: #0085A0;
    padding: 5px;
    align-items: center;
}
.nav-top .logo {
    height: auto;
    min-width: 150px;
}
.nav-top .main-nav {
    display: flex;
    justify-content: flex-end;
    flex-basis: 0;
    flex-grow: 2;
}
.nav-top .main-nav a {
    margin-left: 5px;
    color: #ffffff;
    text-decoration: none;
}
.nav-top .main-nav a:last-child {
    margin-right: 15px;
}
.main-nav ul {
    margin-right: 15px;
}
/* STANDARDS */
ul{
    margin: 0;
    padding: 0
}
ul li {
    list-style: none;
}
h1 {
    width: 100%;
    margin-bottom: 30px;
}
/* MAIN */
.main-main {
    padding: 15px;
    display: flex;
    justify-content: center;
}
.main-main .main-center {
    max-width: 768px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content {
    width: 100%;
}
/* WELCOME PAGE */
.welcome-main {
    padding: 15px;
    display: flex;
    justify-content: center;
}
.welcome-main .welcome-center {
    max-width: 768px;
    width: 100%;
    height: auto;
}
/* BUTTONS */
.btn-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.btn {
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    margin: 15px 0 15px 0;
    background-color: #0085A0;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-trabsition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    border-radius: 5px;
}
.btn:hover {
    background-color: #007890;
}
.btn.full {
    max-width: 150px;
    width: 100%;
    margin-right: 15px;
}
.btn.full-width {
    width: 100%;
}
.btn.margin-right {
    margin-right: 15px;
}
/* INPUT */
.form-control, input {
    font-size: 1.2rem;
}
button {
    border: none;
}
/* FORM */

.form-group.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.form-group.row label {
    max-width: 150px;
    width: 100%;
}
.main-main .main-form {
    max-width: 300px;
    width: 100%;
    align-self: center;
}